<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Signup form</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300" rel="stylesheet" type="text/css">
</head>
<body>
<form action="" method="post" name="form">
    <h1>Sign form</h1>
    <fieldset>
        <legend><span class="section">1</span> Your Basic Info </legend>

        <label class="" for="name">Name</label>
        <input type="text" name="name" value="">

        <label class="" for="password">Password</label>
        <input type="password" name="password" value="">

    </fieldset>
    <button type="submit">Sing up</button>
    <button type="button"><a href="rejestracja.html"> Registration</button>
</form>
</body>
</html>