<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Upload form</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='script_upload.js') }}"></script>
</head>
<body>
<section>
<form action="http://localhost:3000/upload-image" method="POST" enctype="multipart/form-data">
    <h1>Upload form</h1>
    <div class="form-group">
       <label>Select image</label>
       <div class="custom-file">
           <input type="file" class="custom-file-input" name="pdf" id="pdf">
           <label class="custom-file-label" for="pdf">Select image... </label>
       </div>
    </div>
    <button type="submit" class="btn btn-primary"> Upload file</button>
    <button type="button" id="refresh" name="refresh">Show article</button>
    <a href="http://localhost:3000/logout" id="logout"> Logout</a>
</form>
<div id="myList">
<ul id="lista">
</ul>
</div>
</section>
</body>
</html>